<!-- <div class="flex">
    <div class="">
        <app-child-one [students]="earlyStudents" [title]="'All early students'"></app-child-one>
    </div>

    <div class="">
        <app-child-one [students]="absentStudents" [title]="'All absent students'"></app-child-one>
    </div>

    <div class="">
        <app-child-one [students]="lateStudents" [title]="'All late students'"></app-child-one>
    </div>
</div>

<app-divices [appareils]="appareils"></app-divices>
<app-sent-to-parent (newDivice)="addNewAppareils($event)"></app-sent-to-parent>

<h1>Age form child</h1>
<app-age (SendAge)="reciveAge($event)" [appareils]="appareils"></app-age>

<h1>{{ageFormChild}}</h1>
 -->

<div class="">
    <!-- <a routerLink="/reactif-form">Go to form</a>
    <div class="">
        <br><br>
        <a routerLink="/form-control" routerLinkActive="active">Go to form control</a>
    </div> -->

    <a href="/cats"> Go to Cats page</a>
    <br><br>
</div>

<router-outlet></router-outlet>